version: "2.3"
services:
  opendcan-backend:
    image: chendixi/fastapi-py38-env:latest
    container_name: opendcan-backend
    command: uvicorn main:app --host 0.0.0.0
    working_dir: /backend
    depends_on:
      - rabbitmq
    volumes:
      - "/Users/xi-os/Documents/程序员/编程开发/Engineering/OpenDCAN-Web-V2/backend:/backend"
    environment:
    - DATABASE_URI=docker.for.mac.localhost
    - RABBITMQ_URI=rabbitmq
    - REDIS_URL=redis://redis:6379/0
    ports:
      - "8000:8000"

  runner-train:
    image: chendixi/torch190_zsh:latest
    container_name: opendcan-runner-train
    volumes:
      - "/Users/xi-os/Documents/程序员/编程开发/Engineering/OpenDCAN-Web-V2/backend:/backend"
    working_dir: /backend/runner
    command: python training_consumer_main.py
    environment:
    - RABBITMQ_URI=rabbitmq
    - CUDA_LAUNCH_BLOCKING=1
    depends_on:
      - rabbitmq

  runner-inference:
    image: chendixi/torch190_zsh:latest
    container_name: opendcan-runner-inference
    volumes:
      - "/Users/xi-os/Documents/程序员/编程开发/Engineering/OpenDCAN-Web-V2/backend:/backend"
    working_dir: /backend/runner
    command: python inference_consumer_main.py
    environment:
    - RABBITMQ_URI=rabbitmq
    - REDIS_URL=redis://redis:6379/0
    depends_on:
      - rabbitmq

  opendcan-vue:
    image: chendixi/dcan-vue:latest
    container_name: opendcan-frontend
    volumes:
      - "/Users/xi-os/Documents/程序员/编程开发/Engineering/OpenDCAN-Web-V2/frontend/dist:/app"
    ports:
      - "3000:80"

  rabbitmq:
    image: rabbitmq:3.9.14-alpine
    container_name: rabbitmq-server
    hostname: my-rabbitmq
    ports:
      - "5672:5672"
  
  redis:
    image: redis:6.0-alpine
    container_name: redis-server
    ports:
      - "6379:6379"

  mysql:
    image: mysql:latest
    container_name: opendcan-mysql
    environment:
      - MYSQL_ROOT_PASSWORD=0907_cdx
      - MYSQL_DATABASE=opendcan_v2
    ports:
      - "3306:3306"
    volumes:
      - /Users/xi-os/Documents/程序员/编程开发/Engineering/OpenDCAN-Web-V2/mysql:/var/lib/mysql
